body{
	background-color:rgb(231, 238, 245);
}

//---Header---

header{
}

.upside-header{
	padding: 10px 2%;
	float: left;
	width: 100%;	
}

.logo{
	width: 89px;
	float: left;
}

.page-tittle{
	float: left;
	font-size: 15px;
	font-weight: bold;
	width: 33%;
	text-align: center;
	top: 33px;
	position: absolute;
	left: 33.8%;
}

.glyphicon#menu-icon {
	color: white;
	font-size: 18px;
}

.btn#responsive-menu {
	background-color: rgba(32, 74, 147, 0.96);
	padding: 8px;
	float: right;
	margin-right: 0px;
	margin-top:26px;
	margin-left:2%;
}

.menu a li{
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	text-align: center;
}

ul{
	list-style:none;
	padding-left:0px;
	background-color:#8ECCEF;
	float:left;
	width:100%;
}
