body{
	background-color:rgb(231, 238, 245);
}

//---Header---

header{
}

.upside-header{
	padding: 10px 2%;
	float: left;
	width: 100%;	
}

.logo{
	width: 89px;
	float: left;
}

.page-tittle{
	float: left;
	font-size: 15px;
	font-weight: bold;
	width: 33%;
	text-align: center;
	top: 33px;
	position: absolute;
	left: 33.8%;
}

.glyphicon#menu-icon {
	color: white;
	font-size: 18px;
}

.btn#responsive-menu {
	background-color: rgba(32, 74, 147, 0.96);
	padding: 8px;
	float: right;
	margin-right: 0px;
	margin-top:26px;
	margin-left:2%;
}

.menu li a{
	background-color:#A5D1DD;;
	padding: 5px 0px;
	display: block;
}

.menu li{
	text-align: center;
}

.menu li a:hover{
	text-decoration:none;
	background-color:white;
	color:black;
	font-weight:bold;
}

ul{
	list-style:none;
	padding-left:0px;
	background-color:#8ECCEF;
	float:left;
	width:100%;
	margin-bottom:0px;
}

.image-banner{
	width:100%;
}

#index-text p{
	background-color: white;
	margin: 14px 5%;
	padding: 5px 5%;
}
